@tailwind base;
@tailwind components;
@tailwind utilities;

body.synthwave-theme {
  background-color: #2d2f3b; /* Contoh warna untuk synthwave */
  color: #f8e71c;
}

.dark .toggle:checked {
  background-color: #f8e71c; /* Warna saat toggle dalam mode synthwave */
}

.theme-controller {
  accent-color: #f8e71c; /* Warna toggle checkbox */
}

body.synthwave-theme {
  background-color: #2c1a6a; /* Warna latar belakang */
  color: #e1e1e1; /* Warna teks */
}

.navbar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
